<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blame Your Roomie</title>
</head>
<body class="bg-primary bg-opacity-75">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-heart-fill" viewBox="0 0 16 16">
            <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.707L8 2.207 1.354 8.853a.5.5 0 1 1-.708-.707L7.293 1.5Z"></path>
            <path d="m14 9.293-6-6-6 6V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9.293Zm-6-.811c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.691 0-5.018Z"></path>
          </svg> Blame Your Roomie</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/apartment">My Flat</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/invoices">Invoices</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/roomies">Roomies</a>
                  </li>
                </ul>
                <div class="fs-4 ms-auto text-light d-flex visually-hidden" id="user_menu">
                    <span class="me-3">
                      <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="user_name">
                          Log in
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/profile">Profile</a></li>
                          <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                        </ul>
                      </div>  
                    </span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle mt-2 me-5" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
                    </svg>
                </div>
          </div>
        </div>
      </nav>


      <main class="d-flex mt-5 justify-content-center">
        {%block main%}
        {%endblock%}
      </main>
      
      <main class="d-flex mt-5 align-items-center flex-column">
        {%block main_column%}
        {%endblock%}
      </main>
</body>
</html>
<script>
  const user_name = document.querySelector("#user_name");
  const name = document.cookie.split("=").at(-1);
  if (name) {
    console.log(name);
    document.querySelector("#user_menu").className = "fs-4 ms-auto text-light d-flex";
  };
  user_name.innerText = name;
</script>