{%extends "base.html"%}

{%block main%}
<div class="fixed-top mt-5">
    <div class="d-flex justify-content-end mt-5 me-5">
        <button type="button" class="btn btn-warning rounded-pill" onclick="show_form_invoice()">
            <svg id="svg_receipt" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-receipt-cutoff" viewBox="0 0 16 16">
                <path d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zM11.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
                <path d="M2.354.646a.5.5 0 0 0-.801.13l-.5 1A.5.5 0 0 0 1 2v13H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H15V2a.5.5 0 0 0-.053-.224l-.5-1a.5.5 0 0 0-.8-.13L13 1.293l-.646-.647a.5.5 0 0 0-.708 0L11 1.293l-.646-.647a.5.5 0 0 0-.708 0L9 1.293 8.354.646a.5.5 0 0 0-.708 0L7 1.293 6.354.646a.5.5 0 0 0-.708 0L5 1.293 4.354.646a.5.5 0 0 0-.708 0L3 1.293 2.354.646zm-.217 1.198.51.51a.5.5 0 0 0 .707 0L4 1.707l.646.647a.5.5 0 0 0 .708 0L6 1.707l.646.647a.5.5 0 0 0 .708 0L8 1.707l.646.647a.5.5 0 0 0 .708 0L10 1.707l.646.647a.5.5 0 0 0 .708 0L12 1.707l.646.647a.5.5 0 0 0 .708 0l.509-.51.137.274V15H2V2.118l.137-.274z"/>
              </svg>

            <svg id="svg_table" style="display: none;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
            </svg>

        </button>
    </div>
</div>



{%if elements%}
<div class="accordion mt-5" id="table">
    <div class="accordion-item ">
        <h2 class="accordion-header text-light" id="headingOne">
            <button class="accordion-button bg-warning" type="button" data-bs-toggle="false" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Invoices
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse" aria-labelledby="headingOne" data-bs-parent="#table">
            <div class="accordion-body bg-success">
                {%include "table.html"%}
            </div>
          </div>
      
    </div>
</div>
    {%else%}
    <form id="form" class="text-light mt-5" method="post">
    {%endif%}
    <form id="form" class="text-light mt-5" style="display: none;" method="post" action="/invoices">
    <div class="mb-2">
        <label for="exampleInputEmail1" class="form-label">Service</label>
        <!-- <input type="name" class="form-control" name="service" aria-describedby="textHelp" required> -->
        <select name="service" id="" class="form-select">
            <option value="gas">Gas</option>
            <option value="water">Agua</option>
            <option value="light">Luz</option>
            <option value="other">Other</option>
        </select>
    </div>
    <div class="mb-2">
        <label for="exampleInputEmail1" class="form-label">Total</label>
        <input type="number" step="0.01" class="form-control" name="total" aria-describedby="textHelp" required>
    </div>
    <div class="mb-2">
        <label for="exampleInputEmail1" class="form-label">From</label>
        <input type="date" class="form-control" name="date_start" aria-describedby="dateHelp" required>
    </div>
    <div class="mb-3" id="div_checkout">
        <label for="exampleInputEmail1" class="form-label">To</label>
        <input type="date" class="form-control" name="date_end" id="checkout" aria-describedby="dateHelp" required>
    </div>
    <div class="mb-2"> <label for="exampleInputEmail1" class="form-label">Comment</label>
        <input type="text" class="form-control" name="comment" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-warning mt-3">Add!</button>
</form>


<script>
        function show_form_invoice() {
        const table = document.querySelector("#table");
        const form = document.querySelector("#form");
        const svg_receipt = document.querySelector("#svg_receipt");
        const svg_table = document.querySelector("#svg_table");

        if (svg_table.style.display=="none") {
            svg_receipt.style.display = "none";
            svg_table.style.display = "block";
            table.style.display = "none";
            form.style.display = "block";

        }
        else {
            svg_receipt.style.display = "block";
            svg_table.style.display = "none";
            table.style.display = "table";
            form.style.display = "none";
        }
        ;
        
    };
</script>
{%endblock%}