{%extends "base.html"%}

{%block main_column%}
<div class="fixed-top mt-5">
    <div class="d-flex justify-content-end mt-5 me-5">
        <button type="button" class="btn btn-success rounded-pill" onclick="show_form_roomie()">
            <svg id="svg_add" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"></path>
        </svg>

        <svg style="display: none;" id="svg_people" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"></path>
          </svg>

        </button>
    </div>
</div>
<!-- VITO GENOVESE -->
<div class="d-flex justify-content-center" id="cards">
{%for roomie in roomies_checkin%}
{%include "card.html"%}
{%endfor%}
</div>
<div class="accordion mt-5" id="table">
    <div class="accordion-item ">
        <h2 class="accordion-header text-light" id="headingOne">
            <button class="accordion-button collapsed bg-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              All Roomies
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#table">
            <div class="accordion-body bg-success">
                {%include "table.html"%}
            </div>
          </div>
      
    </div>
</div>

<form id="form"  style="display: none;" class="text-light mt-5" method="post">
    <div class="mb-2">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="name" class="form-control" name="name" aria-describedby="textHelp" required>
    </div>
    <div class="mb-2"> <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" required>
    </div>
    <div class="mb-2">
        <label for="exampleInputEmail1" class="form-label">Checkin</label>
        <input type="date" class="form-control" name="date_start" aria-describedby="dateHelp" required>
    </div>
    <div class="mb-2">
        <input type="checkbox" class="form-check-input" name="is_alive" id="is_alive" aria-describedby="dateHelp" onclick="show_checkout()">
        <label for="exampleInputEmail1" class="form-check-label">Is gone?</label>
    </div>
    <div class="mb-3" id="div_checkout" style="display: none;">
        <label for="exampleInputEmail1" class="form-label">Checkout</label>
        <input type="date" class="form-control" name="date_end" id="checkout" aria-describedby="dateHelp">
    </div>
    <button type="submit" class="btn btn-success">Add!</button>
</form>
<script>
    const checkbox = document.querySelector("#is_alive");
    checkbox.checked = false;
    function show_form_roomie() {
        const table = document.querySelector("#table");
        const form = document.querySelector("#form");
        const cards = document.querySelector("#cards");
        const svg_add = document.querySelector("#svg_add");
        const svg_people = document.querySelector("#svg_people");

        if (svg_people.style.display=="none") {
            svg_add.style.display = "none";
            svg_people.style.display = "block";
            table.style.display = "none";
            form.style.display = "block";
            cards.className = "visually-hidden";

        }
        else {
            svg_add.style.display = "block";
            svg_people.style.display = "none";
            table.style.display = "table";
            form.style.display = "none";
            cards.className = "d-flex justify-content-center";
        }
        ;
        
    };

    function show_checkout() {

        const div_checkout = document.querySelector("#div_checkout");
        const i_checkout = document.querySelector("#checkout");
        if (checkbox.checked) {
            div_checkout.style.display = "block";
            i_checkout.required = true;
        }
        
        else {
            div_checkout.style.display = "none";
            i_checkout.required = false;

        };

    };

    function change_debt_red() {
        const debts = document.querySelectorAll(".debt_value");
        
        debts.forEach((debt) => {
            if ( debt.innerHTML > 0) { 
                debt.className = "text-danger";
        };
        });
    };

    change_debt_red();


</script>
{%endblock%}